﻿@model IEnumerable<TheTripper.Models.Trip>
@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the Trips Planner</h1>
        <p>This app will allow you to plan your trips</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View my trips</a>
    </div>
</div>