﻿@{
    ViewBag.Title = "Trips Page";
}
@section Scripts{
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleKey"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
}
<div class="row" ng-app="app-trips">

    <div ng-view></div>

</div>
